.has-date-picker {
    border-color: green;
}

.date-prompt {
    margin-right: 10px;
    color: green;    
}

.delete-prompt {
    margin-right: 10px;
    font-size: medium;
    font-weight: bold;
    color: red;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}