@using AcmeSoft.Mvc.Models
@model AcmeSoft.Mvc.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h3>@Model.ViewHeading</h3>
<hr />
<form asp-action="@Model.FormAction">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        @if (Model.ModelPurpose == ViewModelPurpose.Create || Model.ModelPurpose == ViewModelPurpose.Edit)
        {
            <p class="date-prompt">* Click inside the date fields to show a date selector.</p>
        }
        @if (Model.ModelPurpose == ViewModelPurpose.Delete)
        {
            <p class="delete-prompt">Are you sure you want to delete this employee?</p>
        }
        <div class="col-md-6">
            <section id="personDetails">
                @Html.Partial("_PersonDetails", Model)
            </section>
        </div>
        <div class="col-md-6">
            <section id="employeeDetails">
                <input type="hidden" asp-for="EmployeeId" />
                <div class="form-group">
                    <label asp-for="EmployeeNum" class="control-label"></label>
                    @if (Model.ModelPurpose == ViewModelPurpose.Create)
                    {
                        <input asp-for="EmployeeNum" class="form-control" tabindex="5" />
                    }
                    else
                    {
                        <input asp-for="EmployeeNum" class="form-control" tabindex="6" readonly="readonly" />
                    }
                    <span asp-validation-for="EmployeeNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployedDate" class="control-label"></label> *
                    <input type="text" asp-for="EmployedDate" class="form-control has-date-picker" tabindex="7" />
                    <span asp-validation-for="EmployedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TerminatedDate" class="control-label"></label> *
                    <input type="text" asp-for="TerminatedDate" class="form-control has-date-picker" tabindex="8" />

                </div>
            </section>
        </div>
    </div>
    <div class="form-group text-right">
        <input type="submit" value="Submit" class="btn btn-default" tabindex="7" />
        <a asp-action="Index" class="btn btn-default" tabindex="8">Cancel</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        "use strict";

        function getByIdNumber() {
            if ($("#IdNumber").val().length !== 13) {
                return;
            }
            $.ajax({
                method: "GET",
                url: "@Url.Action("GetByIdNumber", "Employees")",
                data: {
                    idNumber: $("#IdNumber").val()
                }
            }).done(function(emp) {
                if (typeof (emp) === "undefined" || emp === null) {
                    return;
                }
                $("#BirthDate").val(emp.birthDate);
                $("#FirstName").val(emp.firstName);
                ////$("#IdNumber").val(emp.idNumber);
                $("#LastName").val(emp.lastName);
                $("#PersonId").val(emp.personId);
            }).fail(function() {
                debugger;
            });
        };

        $(function() {
            $("#IdNumber").on("blur",
                function() {
                    getByIdNumber();
                });
        });
    </script>
}
