@{
    ViewData["Title"] = "About";
}
<h3>About the Developer</h3>
<p>Brady Kelly is a software developer from Johannesburg, South Africa. He specialises in C# and ASP.NET MVC, with SQL Server, and a special fondness for MVC and jQuery. 
He has been in this business for about eighteen years, and is currently trying to master Angular 4 and .NET Core, and somehow find a way to strengthen 
his creative and artistic faculties.</p>

