@{
    ViewData["Title"] = "Contact";
}
<h3>Developer Contact Details</h3>
<dl>
    <dt>Phone</dt>
    <dd>071 568 1791</dd>
    <dt>Email</dt>
    <dd><a href="mailto:brady@bradykelly.net">brady@bradykelly.net</a></dd>
    <dt>Twitter</dt><dd>bradykelly</dd>
</dl>
